header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;
}

.header__social {
  padding: 8px;
  width: 90%;
  display: flex;
  justify-content: flex-end;

  .social__list {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    .icon {
      display: flex;
      justify-content: center;
      margin: 0 6px 0 6px;
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        transform: scale(1.25);
      }

      img {
        width: 28px;
      }
    }

    .bar {
      width: 1px;
      height: 28px;
      margin: 0 10px;
      background-color: $red;
    }
  }
}

.header__nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .nav__top {
    background-color: $red;
    width: 90%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
    margin-bottom: 20px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.205);

    @media screen and (max-width: 1250px) {
      width: 95%;
    }

    .nav__burger {
      display: none;
      width: 90%;

      @media screen and (max-width: 780px) {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo__burger {
          width: 20px;
          height: 20px;
          cursor: pointer;
          li {
            height: 3px;
            width: 100%;
            background-color: $white;
            margin: 3px;
          }
        }
      }

      .nav__list {
        @media screen and (max-width: 780px) {
          display: none;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          position: absolute;
          top: 110px;
          left: calc(50% - 47.5%);
          height: 50vh;
          width: 95%;
          background-color: $red;
          border-bottom-left-radius: 40px;
          border-bottom-right-radius: 40px;

          .logo__burger {
            position: absolute;
            top: 15px;
            right: 40px;
          }

          .logo-nutella {
            display: flex;
            justify-content: center;
            width: 50%;
            margin-bottom: 20px;
            img {
              width: 70%;
              @media screen and (max-width: 780px) {
                width: 100%;
              }
            }
          }

          .nav__text {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-weight: bold;
            color: $white;
            text-align: center;
            padding-top: 6px;
            padding-bottom: 6px;
            margin: 10 8px;
            border-radius: 25px;
            transition: 0.5s;
            width: 90%;
            cursor: pointer;

            &:nth-child(2) {
              background-color: $red;
            }
          }
        }
      }
    }

    .nav__list {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 97%;

      @media screen and (max-width: 780px) {
        display: none;
      }
    }

    .logo-nutella {
      display: flex;
      justify-content: center;
      width: 24%;
      img {
        width: 70%;

        @media screen and (max-width: 780px) {
          width: 100%;
        }
      }
    }

    .nav__text {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      font-weight: bold;
      color: $white;
      text-align: center;
      width: 19%;
      height: 40px;
      padding-top: 6px;
      padding-bottom: 6px;
      margin: 0 8px;
      border-radius: 25px;
      transition: 0.5s;
      cursor: pointer;
      &:nth-child(2) {
        background-color: $dark-red;
      }

      @media screen and (max-width: 1170px) {
        font-size: 16px;
      }

      @media screen and (max-width: 1170px) {
        font-size: 14px;
      }

      &:hover {
        background-color: $dark-red;
      }
    }
  }

  .nav__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 73%;

    @media screen and (max-width: 1250px) {
      width: 80%;
    }

    @media screen and (max-width: 1150px) {
      width: 90%;
    }

    .nav__list {
      display: flex;
      justify-content: space-between;
      width: 100%;
      @media screen and (max-width: 950px) {
        flex-wrap: wrap;
      }

      .nav__text {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        cursor: pointer;
        font-size: 18px;
        color: $red;
        background-color: $white;
        border: 2px solid $red;
        padding: 10px 15px;
        border-radius: 35px;
        font-weight: bold;
        @media screen and (max-width: 950px) {
          margin-bottom: 0.5rem;
        }

        @media screen and (max-width: 1170px) {
          font-size: 16px;
        }

        @media screen and (max-width: 1170px) {
          font-size: 14px;
        }
        &:hover {
          color: $white;
          background-color: $red;
        }

        &:hover :nth-child(2) {
          color: $red;
          background-color: $white;
        }

        &:nth-child(2) {
          background-color: $red;
          color: $white;
        }
      }
    }
  }
}
