main {
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8rem;
  width: 100%;
  flex-wrap: wrap;

  .block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative !important;
    width: 30%;
    min-width: 310px;
    padding: 0 10px;

    @media screen and (max-width: 1075px) {
      width: 40%;
    }

    @media screen and (max-width: 700px) {
      width: 98%;
    }

    .block__title {
      font-size: 1.5rem;
      font-weight: bold;
      text-align: center;
      margin-top: 2rem;
      &--yellow {
        color: $yellow;
      }

      &--red {
        color: $red;
      }

      &--blue {
        color: $blue;
      }
    }
  }

  .card {
    border-radius: 25px;
    margin-top: 15px;
    width: 100%;
    padding-bottom: 2rem;

    &--yellow {
      background: linear-gradient($yellow 50%, $smoke-yellow 100%);
    }
    &--red {
      background: linear-gradient($red 50%, $smoke-red 100%);
    }
    &--blue {
      background: linear-gradient($blue 50%, $smoke-blue 100%);
    }

    &__top {
      margin-bottom: 15px;

      img {
        width: 100%;
      }
    }

    &__bottom {
      color: $white;
      padding: 0 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      min-height: 241px;

      @media screen and (max-width: 1075px) {
        min-height: none;
      }

      @media screen and (max-width: 1290px) {
        min-height: 270px;
      }

      

      .text {
        width: 85%;
        &__top {
          font-size: 1.5rem;
          font-weight: bold;
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 0.25rem;
        }
        &__bottom {
          font-size: 1.125rem;
          text-align: center;
        }
      }
    }

    button {
      color: $white;
      background-color: $red;
      border: none;
      font-weight: bold;
      width: 100%;
      padding: 10px;
      border-radius: 25px;
      font-size: 1.25rem;
      transition: 0.5s;
      margin-top: 15px;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }
}
