main {
  margin: 0 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2rem;
  margin-bottom: 60px;
  transform: scale(0);
  transition: 2s;

  .block {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;

    .block__title {
      font-size: 1.5rem;
      font-weight: bold;
      &--yellow {
        color: $yellow;
      }

      &--red {
        color: $red;
      }

      &--blue {
        color: $blue;
      }
    }
  }

  .card {
    height: 700px;
    border-radius: 25px;
    margin-top: 15px;
    width: 100%;
    padding-bottom: 2rem;

    &--yellow {
      background: linear-gradient($yellow 50%, $smoke-yellow 100%);
    }
    &--red {
      background: linear-gradient($red 50%, $smoke-red 100%);
    }
    &--blue {
      background: linear-gradient($blue 50%, $smoke-blue 100%);
    }

    &__top {
      height: 60%;
      margin-bottom: 15px;

      &--yellow {
        background: url("../img/jaune.png");
        background-repeat: no-repeat;
        background-position: top;
      }
      &--red {
        background: url("../img/rouge.png");
        background-repeat: no-repeat;
        background-position: top;
      }
      &--blue {
        background: url("../img/bleu.png");
        background-repeat: no-repeat;
        background-position: top;
      }
    }

    &__bottom {
      height: 40%;
      color: $white;
      padding: 0 25px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;

      .text {
        width: 85%;
        &__top {
          font-size: 1.5rem;
          font-weight: bold;
          text-align: center;
          text-transform: uppercase;
          margin-bottom: 0.25rem;
        }
        &__bottom {
          font-size: 1.125rem;
          text-align: center;
        }
      }
    }

    button {
      color: $white;
      background-color: $red;
      border: none;
      font-weight: bold;
      width: 100%;
      padding: 10px;
      border-radius: 25px;
      font-size: 1.25rem;
      transition: 0.5s;

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }
}
